.homepage .nav_wrapper {
}
.border_line {
  border-top: 0.5px solid rgb(130, 130, 130);
}
.homepage {
  padding-top: 70px;
}
.home_main {
  margin: 0;
  width: 85%;
  margin-left: auto;
  margin-right: 2rem;
  display: block;
  height: 100%;
  padding-left: 3rem;
  padding-right: 1rem;
}
.homepage .first_top_text_div {
  position: relative;
  margin-right: 3rem;
}
.first_sec_img_div {
  align-self: end;
}
.text_underline {
  position: absolute;
  right: 0;
  bottom: -18px;
}
.first_sec_img {
  width: 500px;
}
.first_top_text {
  color: white;
  text-align: end;
}
.text_box_div {
  width: 90%;
  position: relative;
  height: fit-content;
}
.text_box_div h1 {
  font-family: "Clash Display", sans-serif;
  font-size: 80px;

  color: white;
}
.main_contents {
  display: flex;
}
.down_icon {
  position: absolute;
  right: -80px;
  bottom: 15px;
}
.top_icon {
  position: absolute;
  top: -40px;
  right: 10%;
}
.text_box_div p {
  color: white;
  font-size: 15px;
  font-weight: 600;
  width: 55%;
  line-height: 27px;
  margin-bottom: 2rem;
}
.time_comp {
  font-family: "Unica One", cursive;
  margin-top: 4rem;
}
.time_comp span {
  font-size: 54px;
}
.time_comp sub {
  margin-right: 2rem;
}
.second_section,
.third_section,
.fourth_section,
.fifth_section {
  display: flex;
  margin: 0;
  width: 85%;
  gap: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: 2rem;
}
.right_second {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left_header {
  font-family: "Clash Display", sans-serif;
  color: white;
  font-size: 32px;
  font-weight: 700;
  width: 70%;
}
.long_text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 500;
  line-height: 22.5px;
  width: 80%;
}
.third_section {
  flex-direction: row-reverse;
}
.third_sec_img {
  width: 700px;
  height: 700px;
}
.third_section .right_second {
  background-image: url("../assets/images/vector9.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.fourth_section {
  width: 95%;
}
.fourth_sec_img {
  width: 700px;
  height: 700px;
}
.fourth_section .right_second {
  justify-content: flex-start;
}
.fourth_section .deftn_term {
  color: #d434fe;
  font-size: 16px;
  font-weight: 700;
}
.fourth_section .deftn_descr {
  font-size: 14px;
  font-weight: 700;
}
.fourth_section .long_text {
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
}
.fourth_section .deftn_wrapper {
  margin-bottom: 1rem;
}
.fourth_section .left_second {
  margin-top: 2rem;
}
.fifth_section {
  flex-direction: row-reverse;
}
.question {
  cursor: pointer;
  padding: 10px;
  padding-bottom: 4px;
  padding-left: 0;
  background-color: transparent;
  font-size: 10px;
  border-bottom: 1px solid #d434fe;
  display: flex;
  justify-content: space-between;
}

.plus-button {
  font-weight: bold;
}

.answer {
  display: none;
  padding: 10px;

  border: 1px solid #ccc;
}

.answer.active {
  display: block;
}
.fifth_section .left_second {
  flex: 0.3;
  align-self: flex-start;
}
.fifth_sec_img {
  width: 700px;
  height: 700px;
}
.fifth_section .right_second {
  flex: 0.8;
  align-self: flex-start;
}
.sixth_section {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-bottom: 2rem;
}
.sixth_header {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  font-family: "Clash Display", sans-serif;
  margin-bottom: 0;
}
.sixth_sub_header {
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.main_section {
  margin-top: 4rem;
  position: relative;
}
.middle_section {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle_section img {
  width: 750px;
  height: 650px;
}
.timeline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.timeline .event,
.time {
  color: #d434fe;
  font-weight: 700;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.timeline .right {
  text-align: start;
}

.right .details {
  margin-right: auto;
}
.left .time {
}
.left:has(.time),
.right:has(.time) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left .details {
  margin-left: auto;
}
.left {
  text-align: end;
}
.timeline .details {
  color: white;
  width: 90%;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.left_seventh {
  align-self: end;
}
.left_seventh img {
  width: 400px;
}
.seventh_section {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-bottom: 2rem;
}
.seventh_wrapper {
  display: flex;
  justify-content: space-between;
}
.seventh_section h3 {
  color: white;

  margin-bottom: 0;
  font-size: 28px;
  width: 50%;
  margin-left: auto;
  font-weight: 700;
  font-family: "Clash Display", sans-serif;
}
.seventh_section p {
  color: white;
  width: 50%;
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.right_seventh img {
  width: 500px;
}
.eight_section {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.eight_section h3 {
  color: white;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 3rem;
  font-family: "Clash Display", sans-serif;
}
.eight_section p {
  color: white;
  font-weight: 400;
  font-size: 14px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.eight_section img {
  width: 800px;
}
.eight_section .img_wrapper {
  text-align: center;
}
footer {
  background-color: #100b20;
  margin-top: 4rem;
}
.footer_wrapper {
  padding: 1rem;
  background-color: #100b20;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.left_footer h3 {
  color: white;
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-weight: 700;
  font-size: 27px;
  font-family: "Clash Display", sans-serif;
}
.left_footer p {
  margin-top: 0;
  color: white;
  font-weight: 400;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.middle_footer p {
  margin-top: 0;
  margin-bottom: 0.4rem;
  color: #d434fe;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.middle_footer ul {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}
.middle_footer li {
  cursor: pointer;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0.5rem;
}
.middle_footer .socials {
  display: flex;
  align-items: center;
}
.middle_footer .socials img {
  margin-right: 0.6rem;
  cursor: pointer;
}
.middle_footer .socials p {
  margin-right: 0.5rem;
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #d434fe;
}
.right_footer .header {
  margin-top: 0;
  margin-bottom: 0.4rem;
  color: #d434fe;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.right_footer p {
  margin-top: 0;
  color: white;
  font-weight: 400;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1200px) {
  .home_main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .homepage .nav_wrapper {
    width: 90%;
  }
  .main_contents {
    flex-direction: column;
  }
  .first_sec_img_div {
    align-self: center;
  }
  .first_top_text {
    text-align: center;
  }
  .text_underline {
    right: 25%;
  }
  .second_section,
  .third_section,
  .fourth_section,
  .fifth_section {
    flex-direction: column;
    gap: 0;
  }
  .text_box_div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .text_box_div p {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .left_header {
    text-align: center;

    width: 100%;
    margin-bottom: 0;
  }
  .long_text {
    text-align: center;

    width: 100%;
  }
  .text_img {
    width: 550px;
  }
  .third_sec_img,
  .fourth_sec_img,
  .fifth_sec_img,
  .second_section img {
    width: 500px;
    height: 500px;
  }
  .fourth_section .right_second {
    margin-top: -6rem;
  }
  .left_second {
    text-align: center;
  }
  .fourth_section .long_text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .fourth_section .btn_wrapper,
  .fifth_section .btn_wrapper {
    text-align: center;
  }
  .fifth_section {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column-reverse;
  }

  .fifth_section .long_text {
    margin-bottom: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .fifth_section .right_second {
    align-self: auto;
  }
  .fifth_section .left_second {
    align-self: center;
  }
  .timeline {
    gap: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: 3rem;
  }
  .event {
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
  }
  .middle_section img {
    width: 750px;
    height: 750px;
  }
  .time {
    margin-top: 0.5rem;
  }
  .details {
    margin: 0;
  }
  .middle_section {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(-50%, -50%);
  }

  .timeline:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .left {
    text-align: start;
  }
  .left .details {
    margin-left: 0;
  }
}
@media (max-width: 1000px) {
  .right_seventh img {
    width: 300px;
  }
  .left_seventh img {
    width: 300px;
  }
  .eight_section img {
    width: 600px;
  }
}
@media (max-width: 980px) {
  .middle_section img {
    width: 750px;
    height: 790px;
  }
  .sixth_sub_header {
    width: 70%;
  }
}
@media (max-width: 813px) {
  .middle_section img {
    width: 750px;
    height: 810px;
  }
}
@media (max-width: 800px) {
  .footer_wrapper {
    display: flex;
    flex-direction: column;
  }
  .seventh_wrapper {
    flex-direction: column;
  }
  .seventh_section h3,
  .seventh_section p {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .left_seventh {
    align-self: center;
  }
  .right_seventh {
    align-self: center;
  }
}
@media (max-width: 757px) {
  .showNav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: left 0.5s ease-in;
  }
  .header_wrapper {
    display: flex;
  }
  .header_text {
    display: none;
  }
  .header_text_home {
    display: flex;
  }
  .right_header {
    text-align: center;
  }
  .reg_header1 {
    display: none;
  }
  .nav_header_wrapper ul {
    display: none;
  }
  .btn_link {
    display: none;
  }
  .show {
    display: block;
  }
}
@media (max-width: 675px) {
  .eight_section img {
    width: 500px;
  }
  .text_img {
    width: 450px;
  }
  .first_sec_img {
    width: 400px;
  }
  .first_sec_img_div {
    align-self: center;
  }
  .fifth_sec_img,
  .fourth_sec_img,
  .third_sec_img,
  .eight_section img,
  .second_section img {
    width: 400px;
    height: 400px;
  }
  .first_top_text {
    font-size: 1rem;
  }
  .text_img {
    margin-top: 1rem;
  }
  .text_underline {
    right: 5%;
    width: 150px;
  }
}
@media (max-width: 550px) {
  .text_img {
    width: 350px;
  }
}
@media (max-width: 550px) {
  .middle_section img {
    display: none;
  }
  .eight_section p {
    width: 90%;
  }
  .fifth_sec_img,
  .first_sec_img,
  .fourth_sec_img,
  .third_sec_img,
  .eight_section img,
  .second_section img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 400px) {
  .fifth_sec_img,
  .first_sec_img,
  .fourth_sec_img,
  .third_sec_img,
  .eight_section img,
  .second_section img {
    width: 300px;
    height: 300px;
  }
  .text_img {
    width: 300px;
  }
  .home_main,
  .second_section,
  .third_section,
  .fourth_section,
  .fifth_section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
  }
}
@media (max-width: 340px) {
  .fifth_sec_img,
  .first_sec_img,
  .fourth_sec_img,
  .third_sec_img,
  .eight_section img,
  .second_section img {
    width: 250px;
    height: 250px;
  }
  .text_img,
  .left_seventh img,
  .right_seventh img {
    width: 250px;
  }
}
