.btn {
  padding: 10px 2rem;
  border-radius: 5px;
  outline: none;
  color: white;
  border: none;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}
.btn:hover {
  cursor: pointer;
}
.register_btn {
  padding: 10px 2rem;
  border-radius: 5px;
  outline: none;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  border-image-slice: 1;
  background: transparent;
}
