.App {
  font-family: "Montserrat", sans-serif;
  position: relative;
  height: 100vh;
}

.leftflare {
  left: -10px;

  bottom: 0;
  position: absolute;
  width: 400px;
}
.star2 {
  z-index: 200;
  position: absolute;
  right: 10%;
  bottom: 15%;
}
.container_star {
  position: absolute;
  left: 50%;
  z-index: 200;
  bottom: 20%;
}
.rightflare {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
}
